In [1]:
#Q1. List any five functions of the pandas library with execution.

In [ ]:
'''
1).pd.read_csv()
2).DataFrame.head()
3).DataFrame.describe()
4).DataFrame.groupby()
5).DataFrame.to_csv()'''

In [2]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
#DataFrame with a new index that starts from 1 and increments by 2 for each row

In [3]:
import  pandas as pd

data = {'A' : [10,20,30],
        'B' : [40,50,60],
        'C' : [70,80,90]}

df = pd.DataFrame(data)

def reindex_dataframe(df):
    new_index = range(1, len(df)*2,2)
    df_reindexed = df.set_index(pd.Index(new_index))
    return df_reindexed

df_reindexed = reindex_dataframe(df)

In [4]:
df_reindexed

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [16]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. 
#Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. 
#The function should print the sum to the console

In [17]:
data1 = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data1)

def calculate_sum_of_first_three_values(df):
    first_three_values = df['Values'][:3]
    sum_of_first_three_values = first_three_values.sum()
    print("Sum of the first three values:", sum_of_first_three_values)

calculate_sum_of_first_three_values(df)

Sum of the first three values: 60

In [18]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
#'Word_Count' that contains the number of words in each row of the 'Text' column

In [21]:
data2 = {'Text': ['This is a sample text.',
                 'Count the number of words here.',
                 'Another example with several words.']}

df = pd.DataFrame(data2)

def count_words(row):
    return len(row['Text'].split())

df['Word_Count'] = df.apply(count_words, axis=1)

print(df)

                                  Text  Word_Count
0               This is a sample text.           5
1      Count the number of words here.           6
2  Another example with several words.           5

In [22]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

In [23]:
'''DataFrame.size:'''

data4 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data4)
print(df.size)

6

In [24]:
'''DataFrame.shape:'''
data5 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data5)
print(df.shape)

(3, 2)

In [25]:
#Q6. Which function of pandas do we use to read an excel file?

In [ ]:

'''df = pd.read_excel('file.xlsx')'''

In [27]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
#addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
#'Username' in df that contains only the username part of each email address

In [28]:
data6 = {'Email': ['varu.joshi@example.com', 'darshan.joshi@example.com', 'prasad.joshi@example.com']}
df = pd.DataFrame(data6)

def extract_username(email):
    return email.split('@')[0]

df['Username'] = df['Email'].apply(extract_username)

print(df)

                       Email       Username
0     varu.joshi@example.com     varu.joshi
1  darshan.joshi@example.com  darshan.joshi
2   prasad.joshi@example.com   prasad.joshi

In [ ]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'.
#Write a Python function that selects all rows where the value in column 'A' is 
#greater than 5 and the value in column 'B' is less than 10.
#The function should return a new DataFrame that contains only the selected rows.
#Your function should select the following rows:   A   B   C
#1  8   2   7
#4  9   1   2
#The function should return a new DataFrame that contains only the selected rows.

In [29]:
data7 = {'A': [8, 2, 6, 3, 9],
        'B': [2, 7, 12, 5, 1],
        'C': [7, 9, 4, 6, 2]}

df = pd.DataFrame(data7)

def filter_dataframe(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

selected_rows = filter_dataframe(df)

print(selected_rows)

   A  B  C
0  8  2  7
4  9  1  2

In [30]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
#median, and standard deviation of the values in the 'Values' column

In [37]:
data8 = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data8)

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_deviation)

    calculate_statistics(df)

In [38]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
#create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
#for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
#should include the current day

In [40]:
Data = {'Sales': [100, 150, 200, 180, 220, 250, 210, 190, 230, 280],
        'Date': ['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05',
                 '2023-10-06', '2023-10-07', '2023-10-08', '2023-10-09', '2023-10-10']}

df = pd.DataFrame(Data)
df['Date'] = pd.to_datetime(df['Date'])

def calculate_moving_average(df, window_size=7):
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df


df = calculate_moving_average(df)


print(df)

   Sales       Date  MovingAverage
0    100 2023-10-01     100.000000
1    150 2023-10-02     125.000000
2    200 2023-10-03     150.000000
3    180 2023-10-04     157.500000
4    220 2023-10-05     170.000000
5    250 2023-10-06     183.333333
6    210 2023-10-07     187.142857
7    190 2023-10-08     200.000000
8    230 2023-10-09     211.428571
9    280 2023-10-10     222.857143

In [41]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
#column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
#Monday, Tuesday) corresponding to each date in the 'Date' column
#Your function should create the following DataFrame:
    #Date    Weekday
#0  2023-01-01    Sunday
#1  2023-01-02     Monday
#2  2023-01-03    Tuesday
#3  2023-01-04    Wednesday
#4  2023-01-05    Thursday
#The function should return the modified DataFrame.

In [43]:
Data1 = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(Data1)
df['Date'] = pd.to_datetime(df['Date']) 
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df


df = add_weekday_column(df)


print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [44]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'

In [ ]:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05', '2023-01-10']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date']) 

def filter_by_date(df, start_date='2023-01-01', end_date='2023-01-31'):
  
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return filtered_df


filtered_rows = filter_by_date(df, start_date='2023-01-01', end_date='2023-01-31')


print(filtered_rows)